h3{
    text-align: center;
    color: rgb(99, 96, 96);
}

div{
    text-align:left;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 30px;
    width: 20%;
    margin: 0 auto;
}

table{
    width: 100%;
    color: #978A30;
}

button{
    background-color: #90A441;
    color: white;
    margin-top: 40px;
    margin-left:40px;
}